<div class="bg-primary">
  <h1 mat-dialog-title class="text-white">Demande de réinitialisation du mot de passe</h1>
</div>
<div mat-dialog-content class="d-flex justify-content-center">
  <div class="text-start">
    <p>Votre adresse email ?</p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint></mat-hint>
      <mat-error class="text-danger" *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
        Adresse e-mail invalide.
      </mat-error>
      <mat-error class="text-danger" *ngIf="emailFormControl.hasError('required')">
        L'adresse e-mail est <strong>obligatoire</strong>.
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button (click)="onNoClick()">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    annuler
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="emailFormControl.value" cdkFocusInitial>
    <mat-icon fontIcon="done"></mat-icon>
    Réinitialisez votre mot de passe
  </button>
</div>
