@font-face {
  font-family: 'blod';
  font-weight: bold;
  src: url('/assets/font/Poppins-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "medium";
  font-weight: auto;
  src: url('/assets/font/Poppins-Medium.ttf') format("ttf");
}

@font-face {
  font-family: "regular";
  font-weight: normal;
  src: url('/assets/font/Poppins-Regular.ttf') format("ttf");
}

@font-face {
  font-family: "italic";
  font-weight: normal;
  src: url('/assets/font/Poppins-ExtraLightItalic.ttf') format("ttf");
}


