@font-face {
  font-family: 'blod';
  src: url('/assets/font/Poppins-Bold.ttf');
}

@font-face {
  font-family: "medium";
  src: url('/assets/font/Poppins-Medium.ttf');
}

@font-face {
  font-family: "regular";
  src: url('/assets/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: "italic";
  src: url('/assets/font/Poppins-ExtraLightItalic.ttf');
}


