@import "_font.scss";

:root {
  --font-family-blod: "blod", sans-serif;
  --font-family-medium: "medium", sans-serif;
  --font-family-regular: "regular", sans-serif;
  --font-family-italic: "italic", sans-serif;
  --light: #04a6dd;
  --primary: #06387e;
  --text: #333;
  --background: #FFFFFF;
  --hint: #999;
  --border: #ddd;
}
