<div class="container pt-5 pb-5">
  <h1>Match</h1>
  <div class="barre-title"></div>

  <div class="mt-5 shadow p-3">
    <h4>Ajouter un match</h4>
    <form [formGroup]="formCreateMatch" (submit)="submit()" class="p-3">
      <div class="d-flex justify-content-center justify-content-lg-between flex-wrap">
        <mat-form-field appearance="fill" class="mx-2">
          <mat-label>Heure</mat-label>
          <mat-select formControlName="hour_start">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
              {{hour.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" class="mx-2">
          <mat-label>Catégorie</mat-label>
          <input type="text"
                 aria-label="Catégorie"
                 matInput
                 formControlName="category"
                 [matAutocomplete]="cat">
          <mat-autocomplete autoActiveFirstOption #cat="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsCategory | async" [value]="option.name | uppercase">
              {{option.name | uppercase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" class="mx-2">
          <mat-label>Terrain</mat-label>
          <input type="text"
                 aria-label="Terrain"
                 matInput
                 formControlName="football_pitch"
                 [matAutocomplete]="FBpitch">
          <mat-autocomplete autoActiveFirstOption #FBpitch="matAutocomplete">
            <mat-option *ngFor="let pitch of filteredOptionsFootballPitch | async" [value]="pitch.name | uppercase">
              {{pitch.name | uppercase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" class="mx-2">
          <mat-label>Equipe adverse</mat-label>
          <input type="text"
                 aria-label="équipe adverse"
                 matInput
                 formControlName="team_opposing"
                 [matAutocomplete]="ot">
          <mat-autocomplete autoActiveFirstOption #ot="matAutocomplete">
            <mat-option *ngFor="let team of filteredOptionsOpposingTeam | async" [value]="team.name | titlecase">
              {{team.name | titlecase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-center justify-content-lg-between flex-wrap">
        <div class="d-flex justify-content-center justify-content-lg-between flex-wrap">
          <mat-form-field appearance="fill" class="full-width mx-2">
            <mat-label>Date du match</mat-label>
            <input matInput [matDatepicker]="dp3" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-radio-group aria-label="Select an option" formControlName="is_local" (change)="isLocalMatch()">
            <mat-radio-button value="1">Local</mat-radio-button>
            <mat-radio-button value="0" >Exterieur</mat-radio-button>
          </mat-radio-group>

          <mat-checkbox formControlName="match_of_the_day">Match du jours</mat-checkbox>
        </div>
        <button mat-raised-button color="primary" class="p-5 mt-0 mb-4 mx-2">Ajouter</button>
      </div>

    </form>
  </div>


<!--  ######## MAT TAB ###########-->
  <!--  MAT TABLE-->
  <div class="mat-elevation-z8 mt-4">

    <div class="p-3">
      <h4>Recherche</h4>
      <mat-form-field class="w-100 pb-0 mb-0">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
      </mat-form-field>
    </div>

    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="{{item.column}}" *ngFor="let item of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>{{item.name | titlecase}}</b></th>
        <td mat-cell *matCellDef="let element" class="">
          <div *ngIf="item.column=='date'" class="word-mat">
            📅 <b>{{element[item.column]  | date:'yyyy/MM/dd'}}</b> 🕛 {{element.hour_start}}
          </div>
          <div *ngIf="item.column=='team_opposing'" class="word-mat">
            {{element[item.column]  | uppercase}}
          </div>
          <div *ngIf="item.column=='category'" class="d-flex align-items-center pe-3">
            <div  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </div>
            <small class="word-mat">{{element["category"] | uppercase}}</small>
          </div>
        </td>
      </ng-container>


      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-description">
              <div class="d-flex align-items-center">
                <div>{{(element.football_pitch)?("⚽ ⬇️TERRAIN : "+element.football_pitch | uppercase): ("⚽ ⬆️EXTERIEUR : "+element.team_opposing | uppercase)}}</div>
              </div>
              <div>
                <button mat-fab extended class="bg-danger text-white" (click)="openDialog('300ms', '200ms', element)">
                  <mat-icon>delete</mat-icon>
                  supprimer
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of users" class="pb-4"></mat-paginator>
  </div>

</div>
