# rm cache IDE
.idea
../.idea/
/web/.idea/
/web/.vscode/
/server/.idea/
/server/.vscode/
/mobile/.idea/
/mobile/.vscode/

# node module
/web/node_modules/**/*
/server/node_modules/**/*
/mobile/node_modules/**/*


