<div class="d-flex justify-content-between align-items-center h-100">
  <div class="w-100 text-center" routerLink="/">
    <mat-icon fontIcon="home" class="icon-display"></mat-icon>
    <div><small>ACCUEIL</small></div>
  </div>
  <div class="w-100 text-center" routerLink="/match" >
    <mat-icon fontIcon="sports_soccer" class="icon-display"></mat-icon>
    <div><small>MATCH</small></div>
  </div>
  <div class="w-100 text-center" routerLink="/entrainement">
    <mat-icon fontIcon="directions_run" class="icon-display"></mat-icon>
    <div><small>ENTRAINEMENT</small></div>
  </div>
</div>
