<div class="container vh-60 d-flex align-items-center">


  <div *ngIf="isValidToken === undefined" class="w-100 vh-60 d-flex flex-column justify-content-center align-items-center">
    <img src="{{logo}}" alt="osny" width="200">
    <mat-spinner></mat-spinner>
  </div>

  <main class="mt-5 w-100 text-center" *ngIf="isValidToken != undefined">

<!--    TITLE BARRE-->
    <div class="barre-title"></div>
    <div *ngIf="isValidToken; else noValidToken" class="d-flex justify-content-center">

      <form class="m-5 p-5 card bg-light shadow d-flex" [formGroup]="form" (submit)="submit()">

        <div class="text-start">
          <h3><img src="{{logo}}" alt="footzi" width="70"> Bonjour <b>{{user?.firstname | titlecase}}</b>,</h3>
          <div class="mt-5"><small class="text-dark">saisissez votre nouveau mot de passe :</small></div>
          <hr>
        </div>

        <div class="d-flex justify-content-between flex-wrap mt-5">
          <!--      PASSWORD-->
          <mat-form-field class="mx-3">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')!.hasError('minlength')">
              <strong>8 charatères</strong> minimum
            </mat-error>
            <mat-error *ngIf="form.get('password')!.hasError('required')">
              le mot de passe est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
          <!--      CONFIRM-->
          <mat-form-field class="mx-3">
            <mat-label>Confirmez</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="passwordConfirm">
            <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('passwordConfirm')?.hasError('matching')">
              Les mot de passe ne sont pas identique
            </mat-error>
            <mat-error *ngIf="form.get('passwordConfirm')?.hasError('required') && !form.get('passwordConfirm')?.hasError('matching')">
              le mot de passe est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!--      BTN SUBMIT-->
        <div class="d-flex justify-content-between mt-5">
          <button mat-raised-button color="primary">Connectez-vous</button>
        </div>
      </form>
    </div>

    <ng-template #noValidToken>
      <div><img src="{{clock}}" alt="clock"></div>
      <button mat-raised-button class="bg-danger text-white mb-5" routerLink="/connexion">Le token n'est plus valide, ⚽ connexion</button>
    </ng-template>
<!--    TITLE BARRE-->
    <div class="barre-title"></div>
  </main>
</div>
