<nav class="d-flex">
  <div class="logo d-flex align-items-center" routerLink="/">
    <img alt="football club OSNY" src="{{logo}}" >
  </div>
  <div class="menu">
    <button mat-flat-button routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><span>Accueil</span></button>
    <button mat-flat-button routerLink="/match"  routerLinkActive="active-link"><span>Match</span></button>
    <button mat-flat-button routerLink="/entrainement"  routerLinkActive="active-link"><span>Entraînement</span></button>
  </div>
  <div class="user mx-3">
    <div *ngIf="isLogged !== null">
      <button *ngIf="isLogged && jwtToken?.isAuthenticated && !isDisplayBtn('/member')" [disabled]="isBanUser" [class]="btnUserClass" routerLink="/member" routerLinkActive="active-user">
        <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person"></mat-icon>
      </button>
      <button mat-stroked-button *ngIf="isLogged && isDisplayBtn('/member')" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
        <span class="small">Déconnexion</span>
      </button>
    </div>
    <button *ngIf="!jwtToken?.isAuthenticated" class="btn-user" routerLink="/connexion" routerLinkActive="active-user">
      <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person"></mat-icon>
    </button>
  </div>
</nav>
