<div class="container pt-5 pb-5">
  <h1>Dashboard</h1>
  <div class="barre-light mb-4"></div>
  <div>
<!--    EDIT PROFILE-->
    <div class="d-flex align-items-center">
      <div class="col-lg-1 me-1">
        <button mat-raised-button color="primary" class="h-100 p-3 mx-3"  routerLink="/member/profile">
          <mat-icon fontIcon="edit"></mat-icon> <small>edit</small>
        </button>
      </div>
      <div class="col-lg-11 ml-2">
        <div class="row">
          <span>Bonjour, <strong>{{currentUser?.firstname | uppercase}} {{currentUser?.lastname | uppercase}}</strong></span>
          <small class="d-flex align-items-center"><mat-icon fontIcon="mail"></mat-icon>{{currentUser?.email}}</small>
        </div>
      </div>
    </div>
    <div class="barre-second my-4"></div>
<!--    MATCH-->
    <div class="d-flex flex-wrap justify-content-center" *ngIf="isAdmin">
      <mat-card class="m-2" routerLink="/member/manage-match">
        <div class="barre-light"></div>
        <mat-card-header class="justify-content-between align-content-center">
          <mat-card-title><h4>Match</h4></mat-card-title>
          <mat-icon aria-hidden="false" fontIcon="touch_app"></mat-icon>
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <div class="me-4">Saison :</div><div>{{ seasonDate.startDate | date:'YYYY/MM' }} - {{ seasonDate.endDate | date: 'YYY/MM' }}</div>
          </div>
          <div class="flex-column p-3">
            <div class="d-flex me-4 justify-content-between"><b>Match Total :</b><div>{{allMatchSeason.length}}</div></div>
            <div class="d-flex me-4 justify-content-between"><b>Match Jouer :</b><div>{{allMatchPlayed.length}}</div></div>
          </div>
          <hr>
          <div class="px-3" *ngIf="matchOfTheDay; else no_match_off_the_day">
            <div><h3>⚽ Prochain match :</h3></div>
            <div class="d-flex justify-content-between align-items-center mt-1"><b>📅  date: </b> <span class="m-1">{{matchOfTheDay.date | date: 'YYYY/MM/dd'}}</span></div>
            <div class="d-flex justify-content-between"><span class="d-flex align-items-start"><mat-icon aria-hidden="false" fontIcon="groups" class="me-2"></mat-icon> CONTRE : </span><b class="m-1">{{matchOfTheDay.team_opposing | uppercase}}</b></div>
            <div class="d-flex justify-content-between"><span class="d-flex align-items-start"><mat-icon aria-hidden="false" fontIcon="location_on" class="me-2"></mat-icon> <span>lieu :</span></span><b class="m-1">{{(matchOfTheDay.is_local)?(environment.teamName | uppercase):(matchOfTheDay.team_opposing | uppercase)}}</b></div>
            <div class="d-flex justify-content-between align-items-center mt-1">
              <span class="me-3">Catégorie</span>
              <span class="bg-info text-white p-2 shadow border rounded-3">{{matchOfTheDay.category  | uppercase}}</span>
            </div>

          </div>
          <ng-template #no_match_off_the_day>⚽ Pas de match de jour programmé.</ng-template>
        </mat-card-content>
      </mat-card>
<!--      ENTRAINEMENT-->
      <mat-card class="m-2" routerLink="/member/manage-training">
        <div class="barre-light"></div>
        <mat-card-header class="justify-content-between align-content-center">
          <mat-card-title><h4>Entrainement</h4></mat-card-title>
          <mat-icon aria-hidden="false" fontIcon="touch_app"></mat-icon>
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <div class="me-4">Nombre total d'entrainement</div><div>{{allTraining.length}}</div>
          </div>
          <div class="flex-column  p-3">
            <div class="d-flex me-4 justify-content-between" *ngFor="let item of countTrainingByCategory">
              <b>{{item.category}}</b><div>{{item.number_training}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
<!--      MEMBER-->
      <mat-card class="m-2" routerLink="/member/manage-user">
        <div class="barre-light"></div>
        <mat-card-header class="justify-content-between align-content-center">
          <mat-card-title><h4>Membre</h4></mat-card-title>
          <mat-icon aria-hidden="false" fontIcon="touch_app"></mat-icon>
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <div class="me-4">Inscrit :</div><div>{{ listUsersRole.length }}</div>
          </div>
          <div class="flex-column  p-3">
            <div class="d-flex me-4 justify-content-between"><b>Membre</b><div class="colorActif"><b>{{usersROLE_ADMIN.length}}</b></div></div>
            <div class="d-flex me-4 justify-content-between"><b>Ban</b><div class="colorInactif"><b>{{usersROLE_BAN.length}}</b></div></div>
            <div class="d-flex me-4 justify-content-between"><b>Demande</b><div class="colorDemande"><b>{{usersROLE_USER.length}}</b></div></div>
            <div class="d-flex me-4 justify-content-between"><b>Email non verifié</b><div class="colorDemande"><b>{{userInValidAccount.length}}</b></div></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

