@import "../../../scss/queries";
.form {
  padding: 2rem;
  max-width: 300px;
}

.full-width {
  margin-top: 1em;
  width: 100%;
}

.page-center {
  height: 50%;
}

.full-page {
  min-height: 80vh;
  width: 100%;
  @include sm {
    min-height: 90vh;
  }
}

.spinner-with {
  min-width: 300px;
}

.msg-user {
  max-width: 300px;
}
