/* You can add global styles to this file, and also import other style files */
@import "scss/_font.scss";
@import "scss/_variables.scss";
@import "scss/_base.scss";
@import "scss/_reset.scss";

/* Layout */
@import "~bootstrap/dist/css/bootstrap.css";
@import "node_modules/material-design-icons-iconfont";


/**
  Mat
 */
mat-form-field {
  margin-right: 12px;
}

/**
  COLOR
 */
.text-primary {
  color: var(--primary) !important;
}

/**
  BT5
 */
.bg-primary {
  background-color: var(--primary) !important;
}

/**
  BARRES
 */
.barre-light {
  background-color: var(--light);
  height: 0.8rem;
  border-radius: 25px 25px 0 0;
}

.barre-second {
  background-color: #676767;
  height: 0.8rem;
  border-radius: 0 0 25px 25px;
}

.barre-title {
  background-color: var(--light);
  height: 0.8rem;
  border-radius: 25px 25px 25px 25px;
}

/**
  Shadow
 */
.shadow-bg {
  border-bottom: solid 1px rgba(129, 129, 129, 0.52);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.27);
}

/**
  Height
 */
.vh-90 {
  height: 90vh;
}
.vh-80 {
  height: 80vh;
}
.vh-70 {
  height: 70vh;
}
.vh-60 {
  height: 60vh;
}
.vh-50 {
  height: 50vh;
}
.vh-40 {
  height: 40vh;
}
.vh-25 {
  height: 25vh;
}
.vh-20 {
  height: 20vh;
}

