.form {
  padding: 2rem;
  max-width: 768px;
}

.full-width {
  width: 100%;
}

.page-center {
  height: 50%;
}

.full-page {
  height: 90vh;
  width: 100%;
}

.form-raw {
  width: 300px;
}
